<body class="bg">
    

<header>
        <div class="nomeFlor">
            <a href="http://localhost:3000/log2"><h1>Florishop</h1></a>
            <i style="color: greenyellow" class="fab fa-envira fa-2x"></i>
        </div> 
        <div class="pesquisar">
            <i  class="fas fa-search fa-2x"></i>
            <input type="text" placeholder="Flor">
            <button class="procurar">Procurar</button>
        </div>         
        <div class="carrinho">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <a href="/pagina_carrinho"><button>Carrinho</button></a>
        </div>
        <div class="conf">
            <i class="fas fa-cog fa-2x"></i>
            <a href="/pagina_config"><button>Configurações</button></a>
        </div>
        <div class="dinheiro">
            <i class="fas fa-coins fa-2x"></i>
            <a href="/pagina_vale_presente"><button>Adicionar Vale-Presente</button></a>  
            <p>R${{valor}},00</p>   
        </div>
        <div class="sair">
            <i class="fas fa-door-open fa-2x"></i>
            <a href="/"><button>Sair</button></a>   
        </div>
    </header>
    <nav>
        <div class = "container_princi">
        <h1>Configurações de Informações</h1>
            <div class="divEspaco">
                <label for="E-mail">E-mail:</label>
                <input type="text" name="nome" placeholder="jonathas.soares@uniriotec.br"id="">
            </div>
            <div class="divEspaco">
                <label for="Nome">Nome:</label>
                <input type="text" name="nome" placeholder="Jonathas"id="">
            </div>
            <div class="divEspaco">
                <label for="Sobrenome">Sobrenome:</label>
                <input type="text" name="Sobrenome" placeholder="Soares"id="">
            </div>
            <div class="divEspaco">
            <form action="/pesqcep" method="post">
                <label for="CEP">CEP</label>
                <input type="text" id="cep" name="cep">
                <button type="submit" class="api">Carregar endereco</button>
            </form>
            </div>
            <div class="divEspaco">
                <label for="Endereço">Cidade:</label>
                <input type="text" name="endereco" placeholder="Rio de Janeiro"id="" value="{{endereco.localidade}}">
            </div>
            <div class="divEspaco">
                <label for="Endereço">Endereço:</label>
                <input type="text" name="endereco" placeholder="Retiro dos artistas"id="" value="{{endereco.logradouro}}">
            </div>
            <div class="divEspaco">
                <label for="Numero">Complemento</label>
                <input type="text" name="numero" placeholder="378, apt 10"id="" value="{{endereco.complemento}}">
            </div><div class="divEspaco">
                <label for="Complemento">Bairro:</label>
                <input type="text" name="complemento" placeholder="Pechincha"id="" value="{{endereco.bairro}}">
            </div>
            <div class="divEspaco">
                <label for="senha">Trocar senha:</label>
                <input type="password" name="nome"id="">
            </div>
            <div class="divEspaco">
                <label for="senha">Repetir Senha:</label>
                <input type="password" name="nome"id="">
            </div>
                <button type="submit" class="confrima">Confirmar</button>    
            <div>
            </div>
                <a href="/pagina_pedidos"><button type="submit" class="confrima">Pedidos realizados</button></a>  
            <div>
                <a href="/pagina_pagamento"><button class="payment">Configurar pagamento</button></a>
            </div>
             <div class="excluir">
            <a href="/"><button>Excluir conta</button></a>
            </div>
       
        </div>
    </nav>
    <section>
        
    </section>

    </body>